@colorDoubleQuote: #999;
@colorLableBackgroundHover: #ff9d58;

body {
}


#content {
	width: 1200px;
}

#founder-view {
	h2 {
		margin-bottom: 25px;
	}

	img.founder-thumbnail {
		border-radius: 40%;
		float: left;
		margin-right: 15px;
	}

	div.quote:last-child > hr {
		display: none;
	}
}

#results-view {
	img.founder-thumbnail {
		width: 55px;
		border-radius: 50%;
	}

	div.quote:last-child > hr {
		display: none;
	}
}


div.label {
	margin-right: 4px;
	cursor: pointer;

	&:hover {
		background-color: @colorLableBackgroundHover;
	}
}




.quote {
	font-style: italic;
	margin-bottom: 12px;

	.fa-quote-left {
		font-style: italic;
		position: relative;
		display: inline-block;
		margin-right: 5px;
		top: -6px;
		color: @colorDoubleQuote;
	}

	.fa-quote-right {
		font-style: italic;
		position: relative;
		display: inline-block;
		margin-left: 5px;
		top: -4px;
		color: @colorDoubleQuote;
	}

	.highlight {
		background-color: yellow;
	}
}

.quote-tags {
	margin: 8px 0;
}

.quote-references {
	font-size: smaller;
}
