<div id="founder-view" ng-controller="founderController">

	<img class="founder-thumbnail" ng-src="images/founders/thumbs/{{founder.FullName.replace(' ', '-')}}_thumb.jpg" />
	<h1>
		{{founder.FullName}}
	</h1>
	<h4>
		{{founder.DateBorn | date : 'MMM yyyy'}} - {{founder.DateDied | date : 'MMM yyyy'}}
	</h4>

	<div ng-repeat="role in founder.Roles" class="label label-default">
		{{ role.Name }}
	</div>
	<div class="clearfix"></div>

	<hr />
	<h2>Biography</h2>
	<span ng-hide="hasBiography" class="founder-biography-nofound">Founder biography has not been submitted.</span>
	<div id="founder-biography" ng-show="hasBiography" ng-bind-html="biography.Text">

	</div>

	<h2>Quotations</h2>

	<div class="quote" ng-repeat="quote in quotes">

		<div>
			<div class="fa fa-quote-left"></div>
			<span class="quote-text">{{ quote.QuoteText }}</span>
			<div class="fa fa-quote-right"></div>
		</div>

		<div class="quote-tags">
			<div ng-repeat="word in quote.Keywords" class="label label-info">
				{{ word | lowercase }}
			</div>
		</div>

		<div class="quote-references">
			source:
			<span ng-repeat="ref in quote.References">
				{{ref.ReferenceInformation}}
			</span>
		</div>
		<hr />
	</div>

</div>
