<div id="founder-view" ng-controller="founderController" ng-init="initTabs()">

    <!-- founder header area -->
    <img class="founder-thumbnail" ng-src="images/founders/thumbs/{{::founder.FullName.replace(' ', '-')}}_thumb.jpg" />
    <h1>
        {{::founder.FullName}}
    </h1>
    <h4>
        {{::founder.DateBorn | date : 'MMM yyyy'}} - {{::founder.DateDied | date : 'MMM yyyy'}}
    </h4>

    <div ng-repeat="role in founder.Roles" class="label label-default">
        <a href="#/terms/{{::role.Name }}">{{::role.Name }}</a>
    </div>
    <div class="clearfix"></div>

    <hr />

    <div role="tabpanel">

        <ul class="nav nav-pills" role="tablist">
            <li role="presentation" class="active">
                <a href="#quotes-tab" data-toggle="pill" role="tab" aria-controls="quotes-tab">
                    Quotations
                    <span class="badge">{{:: resultSet.TotalResults }}</span>
                </a>

            </li>
            <li role="presentation">
                <a href="#bio-tab" data-toggle="pill" role="tab" aria-controls="bio-tab">
                    Biography
                    <span class="fa fa-book"></span>
                </a>
            </li>
            <li role="presentation">
                <a href="#timeline-tab" data-toggle="pill" role="tab" aria-controls="timeline-tab">
                    Timeline
                    <span class="fa fa-calendar"></span>
                </a>
            </li>
            <li role="presentation">
                <a href="#docs-tab" data-toggle="pill" role="tab" aria-controls="doc-tab">
                    Related Documents
                    <span class="fa fa-file"></span>
                </a>
            </li>
        </ul>


        <div class="tab-content">

            <!-- quotes -->
            <div role="tabpanel" id="quotes-tab" class="tab-pane active">

                <div class="row">
                    <div class="col-md-6"><h2>Quotations</h2></div>
                    <div class="col-md-6">
                        <nav class="pull-right" ng-show="resultSet.TotalResults > 12">
                            <ul class="pagination">
                                <li ng-class="{'disabled': resultSet.CurrentPage == 1}">
                                    <a href="#/founder/{{founder.FounderId}}?page={{resultSet.CurrentPage-1}}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li ng-repeat="i in getPagesNumber(number) track by $index" ng-class="{'active': resultSet.CurrentPage == ($index +1)}"><a href="#/founder/{{founder.FounderId}}?page={{$index+1}}">{{$index+1}}</a></li>
                                <li ng-class="{'disabled': resultSet.CurrentPage == resultSet.TotalPages}">
                                    <a href="#/founder/{{founder.FounderId}}?page={{resultSet.CurrentPage+1}}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="quote-container" ng-repeat="quote in quotes">
                    <div class="quote">

                        <a href="#/quote/{{::quote.QuoteId}}" class="quote-text">
                            <div>
                                <span class="fa fa-quote-left"></span>{{::quote.QuoteText }}<span class="fa fa-quote-right"></span>
                            </div>
                        </a>

                        <div class="quote-tags">
                            <div ng-repeat="word in quote.Keywords" class="label label-info">
                                <a href="#/search/keyword/{{::word | lowercase }}">{{::word | lowercase }}</a>
                            </div>
                        </div>

                        <div class="quote-references">
                            source:
                            <span ng-repeat="ref in quote.References">
                                {{::ref.ReferenceInformation}}
                            </span>
                        </div>
                    </div>
                    <hr />
                </div>

                <nav class="text-center" ng-show="resultSet.TotalResults > 12">
                    <ul class="pagination">
                        <li ng-class="{'disabled': resultSet.CurrentPage == 1}">
                            <a href="#/founder/{{founder.FounderId}}?page={{resultSet.CurrentPage-1}}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li ng-repeat="i in getPagesNumber(number) track by $index" ng-class="{'active': resultSet.CurrentPage == ($index +1)}"><a href="#/founder/{{founder.FounderId}}?page={{$index+1}}">{{$index+1}}</a></li>
                        <li ng-class="{'disabled': resultSet.CurrentPage == resultSet.TotalPages}">
                            <a href="#/founder/{{founder.FounderId}}?page={{resultSet.CurrentPage+1}}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- bio -->
            <div role="tabpanel" id="bio-tab" class="tab-pane">
                <h2>Biography</h2>
                <span ng-hide="hasBiography">Founder biography has not been submitted.</span>
                <div id="founder-biography" ng-show="hasBiography" ng-bind-html="biography.Text"></div>
            </div>

            <!-- timeline -->
            <div role="tabpanel" id="timeline-tab" class="tab-pane">
                <h2>Timeline</h2>
                <span ng-hide="hasTimeline">Founder timeline has not been generated.</span>
            </div>

        </div>
    </div>
</div>
