<div id="terms-view">
	
	<h2>Terms and Definitions</h2>

	<ul>
		<li><a href="#framer">Framer</a></li>
		<li><a href="#2"></a></li>
		<li><a href="#3"></a></li>
		<li><a href="#4"></a></li>
		<li><a href="#5"></a></li>
		<li><a href="#6"></a></li>
		<li><a href="#7"></a></li>
		<li><a href="#8"></a></li>
		<li><a href="#9"></a></li>
		<li><a href="#10"></a></li>
	</ul>


	<a name="framer"></a>
	<div class="term">
		<span class="word">Framer</span>
		<span class="definition">
			Generally refers to one of the 57 members of the Constitutional Convention of 1787 which drafted the Constitution of the United States.
		</span>

	</div>

</div>



